### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete = school_data_complete.rename(columns = {'student_name' : 'Student Name' ,
                                                        'gender' : 'Gender' ,
                                                        'year' : 'Year' ,
                                                        'school_name' : 'School Name' ,
                                                        'reading_score' : 'Reading Score' ,
                                                        'maths_score' : 'Math Score' ,
                                                        'type' : 'Type' ,
                                                        'size' : 'Size' ,
                                                        'budget' : 'Budget'            
                                                    })
school_data_complete.head()

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [ ]:
# Check what datatype the budget column is to see if we need to .astype anything later
school_data_complete.dtypes

In [ ]:
# Check the data to see if there's any null or incomplete entries
school_data_complete.count()

In [ ]:
# Create a list of the length of each unique school in the data frame
count_of_schools = []
school_count = school_data_complete['School Name'].unique()
for school in school_count:
    count_of_schools.append(school)
number_of_schools = [len(count_of_schools)]
number_of_schools

In [ ]:
# Create a list of the students in the dataframe
student_count = []
student_count.append(school_data_complete['Student Name'].count())

# At first I thought to count each unique student name in the list, however this then removes students with the same name in different schools. 
# By just counting the student names this captures all.
    # for student in student_count:
    #     count_of_students.append(student)
    # number_of_students = [len(count_of_students)]
    # number_of_students
    
student_count

In [ ]:
# By sorting by school and budget we can reduce the table size we sort through and remove duplicates to get the total sum of school budget

school_budget_df_by_school = school_data_complete[['School Name', 'Budget']]
school_budget_df_by_school = school_budget_df_by_school[['School Name', 'Budget']].drop_duplicates()      
total_budget = [sum(school_budget_df_by_school['Budget'])]

total_budget

In [ ]:
# Calculate the average maths score
maths_score = school_data_complete['Math Score']
average_maths_score = [maths_score.mean()]
average_maths_score

In [ ]:
# Calculate the average reading score
reading_score = school_data_complete['Reading Score']
average_reading_score = [reading_score.mean()]
average_reading_score

In [ ]:
# Calculate the percentage of students with a passing maths score (50 or greater)
passing_score = school_data_complete.loc[school_data_complete['Math Score'] >= 50]

count_math_passing_score = passing_score['Math Score'].count()
count_math_passing_score

math_scores = school_data_complete.loc[school_data_complete['Math Score']]
total_math_scores = math_scores['Math Score'].count()

math_passing_pct = [count_math_passing_score / total_math_scores]
math_passing_pct
# for formatting PCT column later *file_df*["Passing Maths %"] = (*file_df*["Passing Maths %"]*100).map("{:.2f}%".format)

In [ ]:
# Calculate the percentage of students with a passing reading score (50 or greater)
reading_pass_score = school_data_complete.loc[school_data_complete['Reading Score'] >= 50]

count_reading_pass_score = reading_pass_score['Reading Score'].count()
count_reading_pass_score

reading_scores = school_data_complete.loc[school_data_complete['Reading Score']]
total_reading_scores = reading_scores['Reading Score'].count()

reading_passing_pct = [count_reading_pass_score / total_reading_scores]
reading_passing_pct

# for formatting PCT column later *file_df*["Passing Reading %"] = (*file_df*["Passing Reading %"]*100).map("{:.2f}%".format)

In [ ]:
# Calculate the percentage of students who passed maths and reading (% Overall Passing)
combined_pass_score = school_data_complete.loc[(school_data_complete['Reading Score'] >= 50) & 
                                               (school_data_complete['Math Score'] >= 50)
                                              ]
combined_pass_score

count_combined_pass_score = combined_pass_score['Student Name'].count()

combined_score = school_data_complete['Student Name'].count()

combined_passing_pct = [count_combined_pass_score / combined_score]
combined_passing_pct
# for formatting PCT column later *file_df*["Passing Maths & Reading %"] = (*file_df*["Passing Maths & Reading %"]*100).map("{:.2f}%".format)

In [ ]:
# Create a dataframe to hold the above results
LGA_results = pd.DataFrame({'Number of Schools' : number_of_schools,
                                 'Student Count' : student_count,
                                 'Total Budget' : total_budget,
                                 'Average Maths Score' : average_maths_score,
                                 'Average Reading Score' : average_reading_score,
                                 '% Passing Maths' : math_passing_pct,
                                 '% Passing Reading' : reading_passing_pct,
                                 '% Passing Overall' : combined_passing_pct
})
LGA_results['Total Budget'] = (LGA_results['Total Budget']).map("${:,.2f}".format)
LGA_results['Average Maths Score'] = (LGA_results['Average Maths Score']).map("{:,.2f}".format)
LGA_results['Average Reading Score'] = (LGA_results['Average Reading Score']).map("{:,.2f}".format)
LGA_results['% Passing Maths'] = (LGA_results['% Passing Maths']*100).map("{:.2f}%".format)
LGA_results['% Passing Reading'] = (LGA_results['% Passing Reading']*100).map("{:.2f}%".format)
LGA_results['% Passing Overall'] = (LGA_results['% Passing Overall']*100).map("{:.2f}%".format)

In [ ]:
LGA_results

In [ ]:
# Output to an excel file to use in the report later
combined_results.to_excel("Output/All_LGA_Summary.xlsx", index=False)

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [ ]:
school_data_complete.columns

In [ ]:
# school_data_complete <-- df name for easy reference
count_of_schools

In [148]:
School_Name = []
School_Type = []
Total_Students = []
Total_School_Budget = []
Per_Student_Budget = []
Average_Maths_Score = []
Average_Reading_Score = []
Pct_Passing_Maths = []
Pct_Passing_Reading = []
Pct_Overall_Passing = []

for i in count_of_schools:
    
        school_df = school_data_complete.loc[(school_data_complete['School Name'] == i)].reset_index(drop=True)

        # School Name
        school_name = school_df['School Name']
        school_name = school_name[0]
        School_Name.append(school_name)

        # School Type
        school_type = school_df['Type']
        school_type = school_type[0]
        School_Type.append(school_type)

        # Total budget
        school_budget = school_df.iloc[:, 10] # Budget stored as an integer in a list
        school_budget = school_budget[0]
        Total_School_Budget.append(school_budget) # Budget stored as an integer in a list
        # formatting for later .map("${:,.2f}".format)
        school_budget

       # Total students

        students = school_df.iloc[:, 1].count()
        Total_Students.append(students)       

 # Per student budget
        school_bg_ps = school_budget / students
        Per_Student_Budget.append(school_bg_ps)
        # formatting for later .map("${:,.2f}".format)
        school_bg_ps

        # Average math score 
        school_math = school_df['Math Score']
        school_math_mean = school_math.mean()
        Average_Maths_Score.append(school_math_mean)
        # formatting for later .map("{:,.2f}".format)

        # Average reading score
        school_reading = school_df['Reading Score']
        school_reading_mean = school_reading.mean()
        Average_Reading_Score.append(school_reading_mean)

        # % Passing maths (50 or greater)
        school_passing_math = school_data_complete.loc[(
                                                    (school_data_complete['School Name'] == i) & 
                                                    (school_data_complete['Math Score'] >= 50)
                                                      )]
        school_50_plus_math = school_passing_math['Math Score'].count()
        school_math = school_df['Math Score'].count()
        school_passing_math_pct = school_50_plus_math / school_math
        Pct_Passing_Maths.append(school_passing_math_pct)

        # % Passing reading (50 or greater)
        school_passing_read = school_data_complete.loc[(
                                                    (school_data_complete['School Name'] == i) & 
                                                    (school_data_complete['Reading Score'] >= 50)
                                                      )]
        school_50_plus_read = school_passing_read['Reading Score'].count()
        school_read = school_df['Reading Score'].count()
        school_passing_read_pct = school_50_plus_read / school_read
        Pct_Passing_Reading.append(school_passing_read_pct)



        # % Overall Passing (The percentage of students that passed maths and reading.)
        school_overall_passing_filter = school_data_complete.loc[(
                                    (school_data_complete['School Name'] == i) & 
                                    (school_data_complete['Reading Score'] >= 50) & 
                                    (school_data_complete['Math Score'] >= 50) 
                                 )]


        school_overall_passing_count = school_overall_passing_filter['Student Name'].count()


        school_overall_count = school_df['Student Name'].count()


        school_overall_pct = school_overall_passing_count / school_overall_count
        Pct_Overall_Passing.append(school_overall_pct)

raw_summary_info = {
    'School Name' : School_Name,
    'Type' : School_Type,
    'Budget' : Total_School_Budget,
    'Students' : Total_Students,
    'Budget per Student' : Per_Student_Budget,
    'Average Math Score' : Average_Maths_Score,
    'Average Reading Score' : Average_Reading_Score,
    '% Passing Math' : Pct_Passing_Maths,
    '% Passing Reading' : Pct_Passing_Reading,
    '% Passing Overall' : Pct_Overall_Passing
    
}
raw_summary_info

per_school_summary = pd.DataFrame(raw_summary_info, columns=['School Name', 'Type', 'Budget', 'Students', 'Budget per Student', 'Average Math Score', 
                                                            'Average Reading Score', '% Passing Math', '% Passing Reading', 
                                                            '% Passing Overall'
                                                           ])
per_school_summary.dtypes

per_school_summary.to_excel("Output/School_Summary.xlsx", index=False)
per_school_summary_cut_df = per_school_summary.copy()

In [ ]:
per_school_summary['Budget'] = per_school_summary['Budget'].map("${:,.2f}".format)
per_school_summary['Budget per Student'] = per_school_summary['Budget per Student'].map("${:,.2f}".format)
per_school_summary['Average Math Score'] = per_school_summary['Average Math Score'].map("{:,.2f}".format)
per_school_summary['Average Reading Score'] = per_school_summary['Average Reading Score'].map("{:,.2f}".format)
per_school_summary['% Passing Math'] = (per_school_summary['% Passing Math']*100).map("{:.2f}%".format)
per_school_summary['% Passing Reading'] = (per_school_summary['% Passing Reading']*100).map("{:.2f}%".format)
per_school_summary['% Passing Overall'] = (per_school_summary['% Passing Overall']*100).map("{:.2f}%".format)

In [ ]:
per_school_summary

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
top_schools = per_school_summary.sort_values("Students Passing Overall", ascending=False).reset_index(drop=True)
top_schools = pd.DataFrame(top_schools)

In [ ]:
top_schools.head()

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
bottom_schools = per_school_summary.sort_values("Students Passing Overall", ascending=True).reset_index(drop=True)
bottom_schools = pd.DataFrame(bottom_schools)

In [ ]:
bottom_schools.head()

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
year_9_math = {}
    
for i in count_of_schools:

    year_df = school_data_complete.loc[(school_data_complete['School Name'] == i) & (school_data_complete['Year'] == 9)]

    year_df_math_mean = round((year_df['Math Score'].mean()), 2)

    year_9_math["{0}".format(i)] = year_df_math_mean

year_9_math

year_9_all_df = pd.Series(data = year_9_math, index = count_of_schools)
year_9_all_df

year_10_math = {}
    
for i in count_of_schools:

    year_df = school_data_complete.loc[(school_data_complete['School Name'] == i) & (school_data_complete['Year'] == 10)]

    year_df_math_mean = round((year_df['Math Score'].mean()), 2)

    year_10_math["{0}".format(i)] = year_df_math_mean

year_10_math

year_10_all_df = pd.Series(data = year_10_math, index = count_of_schools)
year_10_all_df

year_11_math = {}
    
for i in count_of_schools:

    year_df = school_data_complete.loc[(school_data_complete['School Name'] == i) & (school_data_complete['Year'] == 11)]

    year_df_math_mean = round((year_df['Math Score'].mean()), 2)

    year_11_math["{0}".format(i)] = year_df_math_mean

year_11_math

year_11_all_df = pd.Series(data = year_11_math, index = count_of_schools)
year_11_all_df

year_12_math = {}
    
for i in count_of_schools:

    year_df = school_data_complete.loc[(school_data_complete['School Name'] == i) & (school_data_complete['Year'] == 12)]

    year_df_math_mean = round((year_df['Math Score'].mean()), 2)

    year_12_math["{0}".format(i)] = year_df_math_mean

year_12_math

year_12_all_df = pd.Series(data = year_12_math, index = count_of_schools)
year_12_all_df

math_score_by_year = pd.DataFrame({'Year 9 Mean Math Score' : year_9_all_df,
                                   'Year 10 Mean Math Score' : year_10_all_df,
                                   'Year 11 Mean Math Score' : year_11_all_df,
                                   'Year 12 Mean Math Score' : year_12_all_df
                                  })

In [146]:
math_score_by_year

,Year 9 Mean Math Score,Year 10 Mean Math Score,Year 11 Mean Math Score,Year 12 Mean Math Score
Huang High School,69.08,68.53,69.43,68.64
Figueroa High School,68.48,68.33,68.81,69.33
Shelton High School,72.93,72.51,70.10,72.33
Hernandez High School,68.59,68.87,69.15,68.99
Griffin High School,72.79,71.09,71.69,71.47
Wilson High School,69.21,69.46,68.38,69.79
Cabrera High School,72.32,72.44,71.01,70.60
Bailey High School,72.49,71.90,72.37,72.68
Holden High School,70.54,75.11,71.64,73.41
Pena High School,72.00,72.40,72.52,71.19
Wright High School,71.74,72.18,73.28,70.85
Rodriguez High School,71.94,71.78,72.36,72.15
Johnson High School,69.47,67.99,68.64,69.29
Ford High School,69.02,69.39,69.25,68.62
Thomas High School,69.23,70.06,69.66,69.37

## Reading Score by Year

In [ ]:
* Perform the same operations as above for reading scores

year_9_reading = {}
    
for i in count_of_schools:

    year_df = school_data_complete.loc[(school_data_complete['School Name'] == i) & (school_data_complete['Year'] == 9)]

    year_df_reading_mean = round((year_df['Reading Score'].mean()), 2)

    year_9_reading["{0}".format(i)] = year_df_reading_mean

year_9_reading

year_9_reading_all_df = pd.Series(data = year_9_reading, index = count_of_schools)
year_9_reading_all_df

year_10_reading = {}
    
for i in count_of_schools:

    year_df = school_data_complete.loc[(school_data_complete['School Name'] == i) & (school_data_complete['Year'] == 10)]

    year_df_reading_mean = round((year_df['Reading Score'].mean()), 2)

    year_10_reading["{0}".format(i)] = year_df_reading_mean

year_10_reading

year_10_reading_all_df = pd.Series(data = year_10_reading, index = count_of_schools)
year_10_reading_all_df

year_11_reading = {}
    
for i in count_of_schools:

    year_df = school_data_complete.loc[(school_data_complete['School Name'] == i) & (school_data_complete['Year'] == 11)]

    year_df_reading_mean = round((year_df['Reading Score'].mean()), 2)

    year_11_reading["{0}".format(i)] = year_df_reading_mean

year_11_reading

year_11_reading_all_df = pd.Series(data = year_11_reading, index = count_of_schools)
year_11_reading_all_df

year_12_reading = {}
    
for i in count_of_schools:

    year_df = school_data_complete.loc[(school_data_complete['School Name'] == i) & (school_data_complete['Year'] == 12)]

    year_df_reading_mean = round((year_df['Reading Score'].mean()), 2)

    year_12_reading["{0}".format(i)] = year_df_reading_mean

year_12_reading

year_12_reading_all_df = pd.Series(data = year_12_reading, index = count_of_schools)
year_12_reading_all_df

reading_score_by_year = pd.DataFrame({'Year 9 Mean Reading Score' : year_9_reading_all_df,
                                   'Year 10 Mean Reading Score' : year_10_reading_all_df,
                                   'Year 11 Mean Reading Score' : year_11_reading_all_df,
                                   'Year 12 Mean Reading Score' : year_12_reading_all_df
                                  })

In [147]:
reading_score_by_year

,Year 9 Mean Reading Score,Year 10 Mean Reading Score,Year 11 Mean Reading Score,Year 12 Mean Reading Score
Huang High School,68.67,69.52,68.74,68.67
Figueroa High School,70.26,67.68,69.15,69.08
Shelton High School,70.72,69.88,71.15,69.07
Hernandez High School,68.48,70.62,68.42,69.24
Griffin High School,72.03,70.75,72.39,69.43
Wilson High School,68.68,68.41,68.80,69.89
Cabrera High School,71.17,71.33,71.20,71.86
Bailey High School,70.90,70.85,70.32,72.20
Holden High School,71.60,71.10,73.31,70.48
Pena High School,70.95,72.32,71.70,71.51
Wright High School,71.82,71.39,70.48,69.82
Rodriguez High School,70.90,70.14,71.42,71.41
Johnson High School,68.72,69.30,69.97,67.99
Ford High School,69.62,68.99,70.74,68.85
Thomas High School,69.67,69.74,70.75,68.73

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [150]:
per_school_summary_cut_df.dtypes

School Name               object
Type                      object
Budget                     int64
Students                   int64
Budget per Student       float64
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

In [149]:
# Change the last colun to align with what the question is asking
per_school_summary_cut_df = per_school_summary_cut_df.rename(columns = { '% Passing Overall' : '% Overall Passing'})
per_school_summary_cut_df.head()

,School Name,Type,Budget,Students,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,Government,1910635,2917,655.0,68.935207,68.910525,0.816935,0.814535,0.667124
1,Figueroa High School,Government,1884411,2949,639.0,68.698542,69.077993,0.816548,0.828077,0.676501
2,Shelton High School,Independent,1056600,1761,600.0,72.034072,70.257808,0.915389,0.867121,0.788756
3,Hernandez High School,Government,3022020,4635,652.0,68.874865,69.186408,0.809493,0.818770,0.663646
4,Griffin High School,Independent,917500,1468,625.0,71.788147,71.245232,0.912125,0.884877,0.813351

In [151]:
school_cut_per_spending_df = per_school_summary_cut_df[['School Name', 'Budget per Student', 'Average Math Score', 'Average Reading Score', '% Passing Math', 
                                                       '% Passing Reading', '% Overall Passing']]
school_cut_per_spending_df

,School Name,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,655.0,68.935207,68.910525,0.816935,0.814535,0.667124
1,Figueroa High School,639.0,68.698542,69.077993,0.816548,0.828077,0.676501
2,Shelton High School,600.0,72.034072,70.257808,0.915389,0.867121,0.788756
3,Hernandez High School,652.0,68.874865,69.186408,0.809493,0.818770,0.663646
4,Griffin High School,625.0,71.788147,71.245232,0.912125,0.884877,0.813351
5,Wilson High School,578.0,69.170828,68.876916,0.827858,0.812965,0.674551
6,Cabrera High School,582.0,71.657158,71.359526,0.908504,0.890743,0.807858
7,Bailey High School,628.0,72.352894,71.008842,0.916399,0.873794,0.800844
8,Holden High School,581.0,72.583138,71.660422,0.899297,0.885246,0.789227
9,Pena High School,609.0,72.088358,71.613306,0.916840,0.865904,0.792100
10,Wright High School,583.0,72.047222,70.969444,0.917778,0.866667,0.797222
11,Rodriguez High School,637.0,72.047762,70.935984,0.907977,0.873968,0.794199
12,Johnson High School,650.0,68.843100,69.039277,0.820626,0.819786,0.671918
13,Ford High School,644.0,69.091274,69.572472,0.824388,0.822198,0.674699
14,Thomas High School,638.0,69.581651,69.768807,0.838532,0.826300,0.694801

In [152]:
spending_bins = [0, 585, 630, 645, 680]

labels = ["<$585", "$585-630", "$630-645", "$645-680"]

school_cut_per_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_cut_per_spending_df["Budget per Student"], spending_bins, labels = labels, include_lowest=True)
school_cut_per_spending_df

C:\Users\anups\anaconda3\envs\pythonexercises_2\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,School Name,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
0,Huang High School,655.0,68.935207,68.910525,0.816935,0.814535,0.667124,$645-680
1,Figueroa High School,639.0,68.698542,69.077993,0.816548,0.828077,0.676501,$630-645
2,Shelton High School,600.0,72.034072,70.257808,0.915389,0.867121,0.788756,$585-630
3,Hernandez High School,652.0,68.874865,69.186408,0.809493,0.818770,0.663646,$645-680
4,Griffin High School,625.0,71.788147,71.245232,0.912125,0.884877,0.813351,$585-630
5,Wilson High School,578.0,69.170828,68.876916,0.827858,0.812965,0.674551,<$585
6,Cabrera High School,582.0,71.657158,71.359526,0.908504,0.890743,0.807858,<$585
7,Bailey High School,628.0,72.352894,71.008842,0.916399,0.873794,0.800844,$585-630
8,Holden High School,581.0,72.583138,71.660422,0.899297,0.885246,0.789227,<$585
9,Pena High School,609.0,72.088358,71.613306,0.916840,0.865904,0.792100,$585-630
10,Wright High School,583.0,72.047222,70.969444,0.917778,0.866667,0.797222,<$585
11,Rodriguez High School,637.0,72.047762,70.935984,0.907977,0.873968,0.794199,$630-645
12,Johnson High School,650.0,68.843100,69.039277,0.820626,0.819786,0.671918,$645-680
13,Ford High School,644.0,69.091274,69.572472,0.824388,0.822198,0.674699,$630-645
14,Thomas High School,638.0,69.581651,69.768807,0.838532,0.826300,0.694801,$630-645

In [154]:
spending_math_scores = school_cut_per_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_math_scores

Spending Ranges (Per Student)
<$585       71.364587
$585-630    72.065868
$630-645    69.854807
$645-680    68.884391
Name: Average Math Score, dtype: float64

In [155]:
spending_reading_scores = school_cut_per_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_reading_scores

Spending Ranges (Per Student)
<$585       70.716577
$585-630    71.031297
$630-645    69.838814
$645-680    69.045403
Name: Average Reading Score, dtype: float64

In [156]:
spending_passing_math = school_cut_per_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()

spending_passing_math

Spending Ranges (Per Student)
<$585       0.888359
$585-630    0.915188
$630-645    0.846861
$645-680    0.815685
Name: % Passing Math, dtype: float64

In [157]:
spending_passing_reading = school_cut_per_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()

spending_passing_reading

Spending Ranges (Per Student)
<$585       0.863905
$585-630    0.872924
$630-645    0.837636
$645-680    0.817697
Name: % Passing Reading, dtype: float64

In [158]:
overall_passing_spending = school_cut_per_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

overall_passing_spending

Spending Ranges (Per Student)
<$585       0.767215
$585-630    0.798763
$630-645    0.710050
$645-680    0.667563
Name: % Overall Passing, dtype: float64

## Scores by School Size

* Perform the same operations as above, based on school size.

In [159]:
per_school_summary_cut_df.head()

,School Name,Type,Budget,Students,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,Government,1910635,2917,655.0,68.935207,68.910525,0.816935,0.814535,0.667124
1,Figueroa High School,Government,1884411,2949,639.0,68.698542,69.077993,0.816548,0.828077,0.676501
2,Shelton High School,Independent,1056600,1761,600.0,72.034072,70.257808,0.915389,0.867121,0.788756
3,Hernandez High School,Government,3022020,4635,652.0,68.874865,69.186408,0.809493,0.818770,0.663646
4,Griffin High School,Independent,917500,1468,625.0,71.788147,71.245232,0.912125,0.884877,0.813351

## Scores by School Type

* Perform the same operations as above, based on school type